<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peer Assessment - Instructor Homepage</title>
    <link rel="stylesheet" href="{% static 'mainApp/css/instructor_home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{% static 'mainApp/images/logo.png' %}" alt="Concordia University Logo" class="logo">
        </div>
        <div class="header-content">
            <h1>Peer Assessment</h1>
            <p>Welcome, Instructor! Here are your students' teams. Click on any team to view and open or close teams.</p>
        </div>
        <div class="settings">
            <button style="font-size:20px"><i class="fa fa-gear"></i></button>
            <button type="button" onclick="location.href='{% url 'logout' %}';" class="logout-btn">Logout</button>
        </div>
    </header>

    <main>
        <div class="teams-container">
            {% for project in projects %}
                <div class="team-block">
                    <a>
                        <h3>{{ project.project_name }}</h3>
                        <h3>{{ project.is_open|yesno:"Open,Closed" }}</h3>
                        <button type="button" onclick="location.href='{% url 'CloseOpenTeam' project.project_id %}';"> Close/Open Team </button>
                        <button type="button" onclick="location.href='{% url 'instructorTeamRatings' project.project_id %}';"> See ratings </button>
                        <button type="button" onclick="location.href='{% url 'teamRatingsInstructor' project.project_id %}';"> See ratings </button>
                    </a>                       
                </div>
            {% endfor %}
        </div>
        <div class="create-group">
            <button type="button" onclick="location.href='{% url 'createGroup' %}';" class="create-group-btn">Create Group</button>
        </div>
        <div class="create-group">
            <button type="button" onclick="location.href='{% url 'instructorOverallRatings' %}';" class="create-group-btn">Overall Team Ratings</button>
        </div>
    </main>

    <footer>
        <p>© 2024 Peer Assessment Platform. All rights reserved.</p>
    </footer>
</body>
</html>
