# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.env/

# Django specific
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc

# Static files
/staticfiles/
media/

# Local settings
local_settings.py

# IDE specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
