<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    {% load static %}
    <!-- for every html file, do not forget "{% load static %}" as our css and images are in the static folder-->
    <link rel="stylesheet" href="{% static 'css/userAuth/login_register.css' %}">
    <!-- Be mindful of project folder structure when referencing paths -->
</head>
<body>
    <div class="center-box">
        
        <img src="{% static 'images/logo.png' %}" alt="Concordia University Logo" class="logo">
        <!-- Be mindful of project folder structure when referencing paths -->
        <h2>Create an Account</h2>

        
        <form class="register-form" method="POST">
            {% csrf_token %}
            <input type="text" id="name" name="name" placeholder="Full Name" required>

            <input type="email" id="email" name="email" placeholder="Email" required>

            <input type="username" id="username" name="username" placeholder="Username" required>
        
            <input type="password" id="password" name="password" placeholder="Password" required>
            
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
            
            <select id="role" name="role" required>
                <option value="" disabled selected>Select your role</option>
                <option value="teacher">Teacher</option>
                <option value="student">Student</option>
            </select>
    
            <button type="submit">Register</button>
    
            {% if error %}
            <div style="color:red;"><br>{{ error }}</div>
            {% endif %}
        </form>

        
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>
</body>
</html>
