{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peer Assessment - Student Homepage</title>
    {% load static %}
    <!-- for every html file, do not forget "{% load static %}" as our css and images are in the static folder-->
    <link rel="stylesheet" href="{% static 'css/instructor/viewTeam.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <img style="max-width: 400px;"src="{% static 'images/logo.png' %}" alt="Concordia University Logo" class="logo">
        <div class="header-content">
            <h1>Peer Assessment</h1><br>
            <p>Here are the students in the team. Click on <i>Assess Student</i> to rate their performance. </p>
        </div>
        <div class="settings">
            <button style="font-size:20px"> <i class="fa fa-gear"></i></button>
            <button type=“button” onclick="location.href='{% url 'logout' %}';" class="logout-btn"> Logout </button>
        </div>
    </header>
    
    <div id="students">
        <h2>Team: {{ teamName }}</h2>
        {% for student in students %}
            {% for name, id in student.items %}
            <div>
                <p>Name: {{ name }}, ID: {{ id }}</p>
                <button type=“button” onclick="location.href='{% url 'RemoveStudent' teamID id %}';">Remove Student</button>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div id="students">
        <form class="insert-form" method="POST">
            {% csrf_token %}
            <br>
        Add a new student:
        <br>
            <input type="text" id="username" name="username" placeholder="Username" required>
            
            
            <button type="submit">Add</button>
    
            {% if error %}
            <div style="color:red;"><br>{{ error }}</div>
            {% endif %}
            
            {% if success %}
            <div style="color:green;"><br>{{ success }}</div>
            {% endif %}
        </form>
    </div>
    <div id="delete">
        <button type="button" onclick="confirmDelete()" class="delete-team-btn">Delete Team</button>
    </div>
    <footer>
        <p>© 2024 Peer Assessment Platform. All rights reserved.</p>
    </footer>
    <script>
        function confirmDelete() {
            if (confirm("Are you sure you want to delete this team?")) {
                location.href = "{% url 'deleteTeam' teamID %}";
            }
        }
    </script>
</body>
</html>