<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peer Assessment - Instructor Homepage</title>
    <link rel="stylesheet" href="{% static 'css/instructor/instructor_home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{% static 'images/logo.png' %}" alt="Concordia University Logo" class="logo">
        </div>
        <div class="header-content">
            <h1>Peer Assessment</h1> <br>
            <p>Welcome, Instructor! Here are your students' teams. Click on any team to view and open or close teams.</p>
        </div>
        <div class="settings">
            <button style="font-size:20px" onclick="location.href='{% url 'instructorSettings' %}';"><i class="fa fa-gear"></i></button>
            <button type="button" onclick="location.href='{% url 'logout' %}';" class="logout-btn">Logout</button>
        </div>
    </header>

    <main>
        
    </main>

    <footer>
        <p>© 2024 Peer Assessment Platform. All rights reserved.</p>
    </footer>
</body>
</html>
